/* You can add global styles to this file, and also import other style files */
body {
    font-family: Source Code Pro;
    // background:rgba(0, 0, 0, 0.993);
    // color: #00FF00;
 background: rgba(0, 0, 0, 0.973);
color: #ffffff;

    margin:0;
    font-size: 13px;
}